.div {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 50px;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #0c8;
}
.ol{
    display: inline-block;
    padding: 0;
    margin-left: 40px;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: none;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-primary {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
